/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;500;600;700&family=Hind:wght@300;400;500;600;700&display=swap');


/*=============== VARIABLES CSS ===============*/
:root {

  /* Colors */
  /*
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
  */
  --first-color: hsl(207, 90%, 72%);
  --first-color-alt: hsl(207, 90%, 50%); 
  --title-color: hsl(219, 15%, 95%);
  --text-color: hsl(219, 8%, 75%);
  --body-color:  hsl(219, 32%, 12%);
}
/* BASE */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family:'Expletus Sans',
    cursive;
  font-size: 1rem;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s;
}

h1, h2, h3 {
  font-weight: bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100vh;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 2rem;
  height: 100vh;
}

.section_wrapper {
  height: 100%;
  border-radius: .3rem;
  background-color: hsl(219, 32%, 12%);
  
  padding: 1rem;
}

.section_wrapper:hover {
  border: 3px solid hsl(207, 90%, 50%);box-shadow: 0 0 16px hsl(207, 90%, 50%);
}

.section__title {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

.section__title:hover {
  text-shadow: 0 0 16px hsl(207, 90%, 50%);
}


/* HEADER & NAV */
.header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  color: hsl(207, 90%, 72%);
  transition: .4s;
}

.nav__logo:hover{
  color: hsl(207, 90%, 50%);
  font-weight: bold;
  transform: rotate(-10deg);
  font-size: larger;
  text-shadow: 0 0 16px hsl(207, 90%, 50%);
}

.nav__menu {
  position: fixed;
  bottom: 1rem;
  background-color: hsla(219, 32%, 16%, .8);
  width: 328px;
  margin: 0 auto;
  border-radius: 1.0rem;
  padding: 1rem 2.5rem;
  backdrop-filter: blur(10px);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.25rem;
  padding: .4rem;
  transition: .3s;
  display: flex;
  border-radius: 1rem;
}

.nav__link:hover {
  color: hsl(207, 90%, 50%);
  font-weight: bold;
}

/* Active link */
.active {
  background: hsl(207, 90%, 50%);
  box-shadow: 0 0 16px hsl(207, 90%, 50%);
}

/* =====> HOME */
.home__container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.home__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* =====> BUTTONS */
.home__btn {

}

.home__btn {
  background-color: #ddd;
  border: none;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 10px;
  transition: 0.3s;
}

.home__btn a {
  font-weight: bold;
}

.home__btn:hover {
  background-color: hsl(207, 90%, 50%);
  color: white;
}

/* =====> ABOUT */


/* =====> SKILLS */


/* =====> WORK */


/* Active item work*/


/* =====> CONTACT */
.contact__content {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.contact__info_list {
  width: 50vh;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid white;
  border-radius: 2rem;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  transition: .4s;
}

.contact__info_list:hover {
  border: 5px solid hsl(207, 90%, 50%);box-shadow: 0 0 16px hsl(207, 90%, 50%);
  color: hsl(207, 90%, 50%);
}

.contact__info_link {
  color: hsl(207, 90%, 50%);
}

/* =====> FOOTER */

/* =====> SCROLL BAR */


